span {
    font-family: monospace;
    font-size: 48pt;
    position: absolute;
}

a {
    color: black;
    text-decoration: underline;
}

#transitions {
    top: 40%;
    left: 10%;
    transition: background-color 2s, transform 2s;
}

#transitions:hover {
    background-color: blue;
    transform: scale(1.5);
}

#flexbox {
    border: 2px dashed green;
    bottom: 30%;
    right: 35%;
}

#media {
    top: 8%;
    right: 10%;
}

#text-styles {
    top: 15%;
    left: 5%;
    letter-spacing: -8px;
    font-style: italic;
}

#fonts {
    bottom: 5%;
    left: 15%;
    font-family: 'Permanent Marker', cursive;
    font-size: 80pt;
}

#transformations {
    top: 50%;
    right: 10%;
    transform: rotate(45deg) skew(30deg);
}

.gen-links {
    transition: background-color 2s;
}

#gol {
    bottom: 30%;
    left: 10%;
}

#gol:hover {
    background-color: yellow;
}

#l-systems {
    top: 10%;
    left: 5%;
}

#l-systems:hover {
    background-color: lightgreen;
}


#boids {
    top: 15%;
    right: 15%;
}

#boids:hover {
    background-color: lightblue;
}


#rd {
    bottom: 40%;
    right: 10%;
}

#rd:hover {
    background-color: coral;
}

#particles {
    top: 30%;
    left: 20%;
}

#particles:hover {
    background-color: violet;
}

#genetic {
    bottom: 10%;
    right: 5%;
}

#genetic:hover a {
    background-color: midnightblue;
    color: white;
}